@import "tailwindcss";

@layer components {
  
  dialog::backdrop {
    @apply bg-black/50;
  }

 
}

@font-face {
    font-family: Tesla;
    src: url("../src/assets/fonts/TESLA.ttf");
}

@theme{
    --font-tesla:"Tesla",sans-serif;
}